
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Land of the Rair Leaderboard</a>
</nav>

<div class="container mt-3" id="app">
  <div class="row mb-3" v-for="cat in leaderboard">
    <div class="col">
      
      <div class="row">
        <div class="col">
          <h3 class="text-center">{{ cat.cat }}</h3>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-4 col-sm-6 col-xs-12 my-3" v-for="child in cat.children">

          <table class="table table-striped">
            <thead>
              <tr>
                <th colspan="2"><h5>{{ child.name }}</h5></th>
              </tr>
            </thead>

            <tbody>
              <tr v-if="child.results.length === 0">
                <td class="text-center">No results available.</td>
              </tr>

              <tr v-if="child.results.length > 0" v-for="result in child.results">
                <td>
                  <strong>{{ result.name }}</strong>
                </td>

                <td>
                  <span v-b-tooltip="result.exactValue">{{ result.value }}</span>
                </td>
              </tr>
            </tbody>

          </table>
        </div>
      </div>
    </div>
  </div>
</div>